<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obi I</title>
</head>
<body>
    {% block menu %}
        <a href={% url "portfolio" %}>Portfolio</a>
    {% endblock menu %}

    {% block content %}
        {% if projects %}
            {% for project in projects %}
                <span>{{project.name}}</span>
            {% endfor %}
        {% endif %}
    {% endblock content %}

</body>
</html>